/* clear float */

.clear {
  clear: both;
}


.nav-background {
  background: #CCC;
}

.navbar.nav-background a, a.btn {
  color: #000;
  font-size: 20px;
}

a.navbar-brand {
  font-weight: 600;
}

.navbar-header > a > .logo {
  /* display: inline-block; */
  float: left;
  margin-left: 30px;
  margin-top: -2px;
  width: 101px;
}
header {
  font-family: 'Lato', sans-serif;
}
body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding: 50px 20px 0;
  background: #f4f4f7;
  color: #444;
  margin: 0;
}

.nav.navbar-nav.navbar-right > li {
  text-transform: uppercase;
}

.dropdown-menu {
  text-transform: none;
}

.display-4 {
  font-family: 'ZCOOL XiaoWei', serif;
}

#myCarousel {
  width: 100%;
  margin: 30px auto 0 auto;
}

h1{
  font-size: 4rem;
  line-height: 1.2em;
  padding: 20px 0;
}

h3{
  font-weight: 300;
}

.des-image > img {
  margin-top: 10px;
  width: 60%;
}

p > a {
  color: #ea5828;
}

button > span {
  background: #444;
}

footer {
  margin-top: 40px;
  margin-bottom: 10px;
}

footer a {
  text-decoration: none;
  color: black;
}

.footer-part p {
  text-align: center;
  font-size: 14px;
}

section > hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ea5828;
  margin-top: -8px;
  width: 200px;
}

 p {
  font-size: 17px;
}


body p {
  text-align: left;
  margin-top: 20px;
}

h1.display-4 + p{
  text-align: center;
}

a.dropdown-item {
  font-size: 14px !important;
  text-shadow: none;

}

.dropdown-menu {
  background: #CCC;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* font awesome */

i {
  font-weight: bold;
  color: #ea5828;
}

i:hover{
  color: blue;
}

div.special {
  width: 100%;
}

div.special > img, .item img {
  width: 100%;
}

.fab {
  font-size: 20px;
  margin: 0 5px;
}

.solar-lists {
  text-align: left !important;
}

/* Error Page Style */

.default-error-page {
  background-color: #EFEFEF;
  color: #2E2F30;
  text-align: center;
  font-family: arial, sans-serif;
  margin: 0;
}

.default-error-page div.dialog {
  width: 95%;
  max-width: 33em;
  margin: 4em auto 0;
}

.default-error-page div.dialog > div {
  border: 1px solid #CCC;
  border-right-color: #999;
  border-left-color: #999;
  border-bottom-color: #BBB;
  border-top: #B00100 solid 4px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  background-color: white;
  padding: 7px 12% 0;
  box-shadow: 0 3px 8px rgba(50, 50, 50, 0.17);
}

.default-error-page h1 {
  font-size: 100%;
  color: #730E15;
  line-height: 1.5em;
}

.default-error-page div.dialog > p {
  margin: 0 0 1em;
  padding: 1em;
  background-color: #F7F7F7;
  border: 1px solid #CCC;
  border-right-color: #999;
  border-left-color: #999;
  border-bottom-color: #999;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-color: #DADADA;
  color: #666;
  box-shadow: 0 3px 8px rgba(50, 50, 50, 0.17);
}

